.news_list .news_item {
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-overflow: ellipsis !important;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
}

.news_list {
}

    .news_list span {
        font-size: 14px;
        float: right;
        padding-right: 8px;
        font-weight: normal;
    }

    .news_list a {
        text-decoration: none;
    }

.center-min {
    min-width: 800px;
}

.main_img {
    height: 450px;
    width: 600px;
    margin-bottom: 20px;
}

.list_img {
    margin-bottom: 10px;
}

.category-header {
    padding-bottom: 9px;
    margin: 20px 0 5px 0;
    border-bottom: 1px solid #666;
}

    .category-header a {
        font-size: 18px;
        color: #890000;
        font-weight: bold;
        text-decoration: none;
    }

        .category-header a:hover {
            color: #900;
        }

.category-header-current {
    padding-bottom: 19px;
    margin: 20px 0 5px 0;
    border-bottom: 1px solid #666;
}

    .category-header-current a:hover {
        text-decoration: none;
    }

    .category-header-current a {
        text-decoration: none;
        padding: 8px 12px;
        margin-right: 2px;
        line-height: 14px;
        color: #ffffff;
        background-color: #890000;
        margin-top: 4px;
        margin-bottom: 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

.category-content {
    margin-bottom: 45px;
}


.category-list {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

    .category-list li {
        display: block;
    }

    .category-list > li > a:hover {
        text-decoration: none;
    }

.category-pills > li {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.category-pills {
    *zoom: 1;
}


    .category-pills:before,
    .category-pills:after {
        display: table;
        line-height: 0;
        content: "";
    }


    .category-pills:after {
        clear: both;
    }





    .category-pills li {
        margin-right: 5px;
        width: 120px;
        line-height: 14px;
        float: left;
    }

    .category-pills .first {
        padding-left: 0px;
    }

    .category-pills li a {
        font-size: 14px;
        color: #CCCCCC;
        padding: 5px 0;
        border-bottom: 4px solid #222;
    }

        .category-pills li a:hover {
            border-bottom: 4px solid #890000;
        }

    .category-pills .active {
        color: #890000;
        border-bottom: 4px solid #890000;
    }

.assd {
    max-height: 150px;
    overflow-y: auto;
}

.right-box {
}

.tools {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.mar-r10 {
    margin-right: 15px;
}

.mar-r {
    margin-right: 10px;
}

.breadcrumb a {
    color: #890000;
}

    .breadcrumb a:hover {
        color: #DA4F49;
    }

.img {
    width: 145px;
    height: 120px;
}

.img-first {
}

.goods-list li {
    margin-left: 0 !important;
    margin-right: 20px !important;
}

.col_first {
    margin-left: 0%;
}

.col_last {
    margin-right: 0% !important;
}


.nav-type a {
    font-size: 16px;
    font-weight: bold;
    color: #890000;
    padding: 10px 25px !important;
}

.nav-type li {
    margin-right: 35px;
}

.material-title {
    padding-top: 5px;
    text-align: center;
    width: 150px;
    color: #890000;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    .material-title a {
        font-size: 14px;
        color: #890000;
        text-decoration: none;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

.loading {
    display: none;
    text-align: center;
    margin: 200px;
    padding: 100px;
    font-size: 18px;
    vertical-align: middle;
    color: #890000;
}

.icon-user-red {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../img/user.png);
    background-repeat: no-repeat;
    image-orientation: auto;
    margin-right: 5px;
}

.icon-user-red {
    background-position: 0 0;
}

.divider-vertical-red {
    height: 22px;
    margin: 10px 9px;
    padding: 0;
    border-left: 1px solid #ad1d28;
    border-right: 1px solid #971923;
}

.icon-newspaper-i, .icon-pencil-i, .icon-location-i, .icon-exit-i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
}

.icon-newspaper-i {
    background-position: 0 0;
}

.icon-pencil-i {
    background-position: -28px 0;
}

.icon-location-i {
    background-position: -56px 0;
}

.icon-exit-i {
    background-position: -84px 0;
}

.icon-cart-i {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../img/sprites1.png);
    background-repeat: no-repeat;
    background-position: -56px 0;
    margin-right: 5px;
}


.pr5 {
    padding-right: 5px;
}

.mar-r30 {
    margin-right: 30px;
}

.bgred {
    background-color: #890000;
}

.cart {
    font-size: 14px;
    color: #890000;
    text-decoration: none;
}

    .cart:hover {
        color: #333;
        text-decoration: none;
    }

    .cart span {
        margin-left: 5px;
    }

.icon-cart-s {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 5px;
    margin-top:4px;
}

/* -- gallery  begin --*/
div.content-img { /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
    display: none;
    width: 620px;
    height: 403px;
    margin: 0;
    padding: 0px;
    float: left;
    overflow: hidden;
}

    div.content-img img {
        position: relative;
        z-index: 2;
    }

    div.content-img a, div.navigation a {
        text-decoration: none;
        display: block;
        position: relative;
        cursor: pointer;
    }

        div.content-img a img, div.navigation a img {
            position: relative;
            z-index: 1;
        }

        div.content-img a span, div.navigation a span {
            display: block;
            width: 140px;
            height: 121px;
            background: #000;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        }

            div.content-img a span.selected,
            div.navigation a span.selected {
                display: none !important;
            }

        div.content-img a:focus, div.content-img a:hover, div.content-img a:active {
            text-decoration: underline;
        }

div.controls-a {
}

    div.controls-a a {
        padding: 0px;
    }

div.ss-controls {
    float: left;
    display: none;
}

div.nav-controls {
    position: absolute;
    left: 0px;
    width: 596px;
    bottom: 0px;
    z-index: 1;
}

    div.nav-controls a.prev {
        background: url(../img/prevPageArrowWhite.gif) no-repeat 0 0;
        width: 39px;
        height: 39px;
        text-indent: -5000px;
        position: absolute;
        bottom: 2px;
        left: 0;
        z-index: 11;
    }

        div.nav-controls a.prev:hover {
            background: url(../img/prevPageArrowWhite.gif) no-repeat 0 0;
        }

    div.nav-controls a.next {
        background: url(../img/nextPageArrowWhite.gif) no-repeat 0 0;
        width: 39px;
        height: 39px;
        text-indent: -5000px;
        position: absolute;
        bottom: 2px;
        right: 0;
        z-index: 11;
    }

        div.nav-controls a.next:hover {
            background: url(../img/nextPageArrowWhite.gif) no-repeat 0 0;
        }

div.slideshow-container {
    position: relative;
    height: 403px; /* This should be set to be at least the height of the largest image in the slideshow */
    z-index: 1;
}

div.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 592px;
    height: 470px; /* This should be set to be at least the height of the largest image in the slideshow */
}

div.slideshow {
}

    div.slideshow span.image-wrapper {
        display: block;
        width: 620px;
        height: 403px;
        position: absolute;
        left: 0;
        top: 0;
    }

    div.slideshow a.advance-link {
        display: block;
        width: 620px;
        height: 403px; /* This should be set to be at least the height of the largest image in the slideshow */
        padding: 0;
        margin: 0;
    }

        div.slideshow a.advance-link img {
            padding: 0;
            margin: 0;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }

        div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
            text-decoration: none;
        }

    div.slideshow img {
    }

div.download {
    float: right;
}

div.caption-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 596px;
    height: 151px;
}

span.image-caption {
    display: block;
    position: absolute;
    width: 596px;
    height: 151px;
    top: 0;
    left: 0;
    z-index: 10;
}

div.caption {
    width: 536px;
    height: 128px;
    padding: 23px 30px 0 30px;
    line-height: 18px;
    font-size: 13px;
    color: #fff;
}

    div.caption h5 {
        line-height: 18px;
        font-size: 13px;
        color: #fd003f;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
    }

    div.caption h6 {
        line-height: 18px;
        font-size: 13px;
        color: #fff;
        font-weight: normal;
        margin: 0 0 18px 0;
    }

div.image-title {
}

div.image-desc {
}

div.navigation {
}

div#thumbs {
    width: 320px;
    height: 403px;
    overflow: hidden;
    padding: 0px 0px 0 0;
}

ul.thumbs {
    float: right;
    margin-left: 0;
    padding: 0;
    width: 320px;
    height: auto;
    overflow: visible;
}

    ul.thumbs li {
        height: 121px;
        float: left;
        margin: 0 20px 20px 0;
        overflow: hidden;
        padding: 0;
        vertical-align: top;
    }

        ul.thumbs li img {
            border: none;
        }

a.thumb:focus {
    outline: none;
}

div.pagination-img {
    clear: both;
    text-align: center;
    position: relative;
    z-index: 10;
}

div.top.pagination-img {
    display: none;
}

div.pagination-img div.bottom {
    display: none;
}

div.pagination-img a, div.pagination-img span.current, div.pagination-img span.ellipsis {
    padding: 0 4px;
    font-weight: bold;
    color: #fff;
}

    div.pagination-img a:hover {
        text-decoration: none;
        color: #ffeaa8;
    }

div.pagination-img span.current {
    color: #ffeaa8;
}

div.pagination-img span.ellipsis {
    border: none;
    padding: 5px 0 3px 2px;
}

.gallery {
    padding: 20px 0 26px 20px;
    background: #fff;
    -moz-box-shadow: 0px 5px 8px rgba(0,0,0,0.70);
    box-shadow: 0px 5px 8px rgba(0,0,0,0.70);
    -webkit-box-shadow: 0px 5px 8px rgba(0,0,0,0.70);
    box-shadow: 0px 5px 8px rgba(0,0,0,0.70);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.padding {
    padding: 30px 0px 38px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.indent-bot {
    margin-bottom: 20px;
}

.p3 {
    margin-bottom: 30px;
}

.m-980 {
    min-width: 980px;
}

.w980 {
    width: 980px !important;
    margin-left: auto;
}

.w310 {
    min-width: 300px !important;
}

.left-auto {
    margin-left: auto;
}

.content-auto {
    margin-right: auto;
    margin-left: auto;
    min-width: 1280px !important;
}

.mar-l15 {
    margin-left: 15px !important;
}

.mar-l0 {
    margin-left: 5px !important;
}

.p015 {
    padding: 10px 0;
}

.text-black {
    color: #000;
    font-size: 16px;
}

.brand-a div {
    border-right: 5px solid #890000;
}

.brand-g div {
    border-right: 5px solid #3ab210 !important;
}

.par5 {
    padding-right: 5px !important;
}

.navbar .brand-a {
    display: block;
    text-align: left;
    padding: 10px 20px 0 10px;
    padding-right: 0;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
}


    .navbar .brand-a:hover {
        text-decoration: none;
    }

.selected {
    border: 4px #890000 solid;
}

    .selected:after {
        width: 0;
        height: 0;
        border-top: 40px solid #890000;
        border-left: 40px solid transparent;
        position: absolute;
        display: block;
        right: 0;
        content: ".";
        top: 0;
        z-index: 1001;
    }

    .selected:before {
        position: absolute;
        content: "\e08a";
        color: #fff;
        right: 4px;
        font-family: iconFont;
        z-index: 1002;
    }

.login-form {
    color: #111;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
}

.forgot {
    text-decoration: none;
    font-size: 14px;
    margin-left: 25px;
    padding-left: 5px;
}

.login-form a:hover {
    text-decoration: none;
}

.no-register {
    font-size: 14px;
    margin-right: 25px;
    padding-right: 5px;
    float: right;
}

.err-msg {
    text-align: center;
    color: #890000;
}

.mar-b0 {
    margin-bottom: 0 !important;
}

.mar-top0 {
    margin-top: 0 !important;
}

div.navigation a img {
    width: 140px;
    height: 121px;
}

.slideshow img {
    width: 620px;
    height: 403px;
}

.title {
    display: inline-block;
     
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #890000;
    padding: 0 25px 0 0;
   
}
.img-indent3 {float:left; margin:0 23px 0px 0}	

.mar-r20{
    margin-right:20px !important;
}

.color-block{  
    background:#bbb;
    border:solid 3px #bbb;
    color:#111;
    text-align:center;
}
.color-block em{
    margin-right:3px;
    font-style:normal;
}
.color-block .name{
    font-size:16px;
    font-weight:bold;
}
.color-block .price{
      font-size:14px;  
}
.color-block:hover{
    background:#bbb;
    color:#890000;
     border:solid 3px #890000;
}
.color-block.active{
     background:#890000;
    color:#fff;
     border:solid 3px #890000;
}
.color-list a:hover{
    text-decoration:none; 
}
.color-list a{   
    cursor:pointer;
}

.craft-list .craft-item:hover{
     text-decoration:none; 
}
.craft-list .craft-item{
    cursor: pointer;
}

.craft-block{
      background:#bbb;
    border:solid 3px #bbb;
    color:#111;
    text-align:left;
    padding-left:5px;
}
.craft-block em{
    margin-right:3px;
    font-style:normal;
}
.craft-block .name{
    font-size:16px;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
}
.craft-block .price{
      font-size:14px; 
    margin-bottom:5px; 
}
.craft-block .intro{
    font-size:12px;
    text-decoration:none; 
    margin-right:5px;
    float:right;
    text-align:right;
    color:#468847;
}
.craft-block .intro:hover{
    color:#890000;
}

    .craft-block:hover {
        border: solid 3px #468847;
        background: #bbb;
        color: #468847;
    }
.craft-block.active{
     background:#468847;
    color:#fff;
     border:solid 3px #468847;
}
.craft-block.active .intro{
    color:#fff;
}
.craft-block.active  .intro:hover
{
    color:#890000;
}
.marleft0 li{
    margin-left:0 !important;
    margin-right:10px !important;
    margin-bottom:10px !important;
}

.font-color-red{
    color:#890000;
}
.mar-r5{
    margin-right:5px;
}
.txt-black{
    color:#222;
}

.mstyle-title{
    font-size:14px !important;
}


.numbers li{
    padding-left: 0px !important;
}
.pl-0{ padding-left: 0px !important;margin-left:0 !important;}

.mar-top25 {
    margin-top: 25px !important;
}

.total-title{
    color:#111;
     margin-top:10px;
    font-size:16px;
}
.total{
    font-size:24px;
    color:#890000;
    line-height:48px;
}
.total em{
    font-size:16px;
    margin-right:5px;   
}

.form-b0{
   margin-bottom:10px  !important;
}

.hide-msg{
    display:none;
}

#cart-count{
     font-size:28px;
    color:#890000;
    margin-left:8px;
    margin-right:8px;
}
#cart-price{
    font-size:24px;
    color:#890000;
    margin-left:4px;
    margin-right:8px;
}

table,tr,td,th,thead {
     color:#890000;
}

.cart-header {
    color:#890000;
    padding-bottom: 9px;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid #890000;
}

.cart-header small{
    font-size:16px;
}
.cart-header small em{
    color:#890000;
    padding-left:8px;
    padding-right:8px;
} 

.addr-block{
    margin-top:10px;
    margin-bottom:20px;
}
.m-block{
    padding-top:10px !important;
    padding-bottom:10px !important;
    vertical-align:middle; 
    padding-left:5px;
    color:#222;   
}
.m-block-text{
    padding-top:25px;
    vertical-align:middle; 
}
.m-block div{
       vertical-align:middle; 
}

.header-block{
     padding: 0 0 0 15px;
  margin: 0 0 20px;
  font-size:24px;
  line-height:32px;
  color:#222;
  border-left: 5px solid #890000;
   margin-top:10px;
    margin-bottom:10px;
}
.header-block-green{
     border-left: 5px solid #3ab210 !important;
}

.item-clock{
    padding-left:5px;
    padding-top:5px;
    color:#222;
}

.delivery .active {
    text-decoration: none;
    padding: 4px 4px;
    margin-right: 2px;
    color: #ffffff;
    background-color: #890000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.delivery a{
    font-size: 14px;
font-weight: bold;
color: #890000;
padding: 8px 15px !important;
}
.small-img{
    height:64px;
    width:64px;
}
.simg-block{
     height:74px;
    width:74px;
    float:left;
    padding:0;
}
.small-title{
   margin-left:84px;
  vertical-align:bottom;
  padding-top:10px;
}
.small-title .name{
    font-size:16px;
    line-height:24px;
    font-weight:bold;
    color:#890000;
    margin-bottom:15px;
    display:block;
}
.marleft-0{
    margin-left:0 !important;
}
.bgddd{
    background:#ddd;
}
.pad-top10{
    padding-top:20px !important;
}
.order-price{
    margin-top:15px;
    margin-bottom:10px;
    font-size:18px;
    line-height:32px;
    text-align:right;
}
.order-price span{
     padding-left:5px;
     font-size:24px;
     font-weight:bold;
     color:#890000;
}

.order-block{
    margin:10px;
}

.empty{
    font-size:18px;
    line-height:24px;
    color:#222;
}

.link-red{
    color:#890000;
    font-size:24px ;
    font-weight:bold;
    line-height:32px;
    text-decoration:none;
}
.empty span{
    margin-right:20px;
}
.mar-left0{
    margin-left:0 !important;
}

.left-navi{
    padding-bottom:50px;
}

.input-msg{
    padding-top:5px;
    font-size:14px;
    line-height:14px;
    color:#890000;
}

.index h2 {
    font-size: 24px;
    line-height: 32px;
    color: #890000;
    word-spacing: 1em;
    text-indent:32px;
    font-weight:bold;
}
.index h3{
      font-size:16px;
    line-height:24px;
    color:#890000;
    text-indent:32px;
     font-weight:normal;
}
.index {
    color: #ccc;
    font-size: 16px;
    line-height:24px;
     text-indent: 32px;
}
.index div{
    padding:5px 0;
}
.news h2{
    color:#890000;
}
.news{
    color:#222;
}

.mar-t4{
    margin-top:3px;
}
.order-info p{
    color:#222;
    font-size:16px;
    
}
.order-info span{
    color:#890000;
     font-weight:normal;
     margin-right:35px;
}