@{
    ViewBag.Title = "首页-广州国际轻纺城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container ">
    <div class="row">
        <div class="span10 offset1  index">
            <h2>广州国际轻纺城  全球纺织品采购中心</h2>
            <h3>4000多家商铺，数百万种面料、辅料流行元素，365日的Expo！</h3>
            <div>广州国际轻纺城是一个集交易、展示、办公、信息发布、会展等多种功能为一体，经营品种涵盖面料、辅料和家纺的大型现代化纺织品专业市场项目，将立足广州，依托珠三角，辐射全国，影响国际，全力打造一个全球纺织品采购中心。</div>
            <div>广州国际轻纺城，地处新港西路和瑞康路的交界处，位于广州市海珠区路网交通最发达的区域，西邻东晓路，东邻广州大道， 紧靠40米瑞康路，北接新港西路，向南可连通逸景路、新滘南路，距离琶州国际会展中心、内环路和华南快速干线入口均仅需5分钟车程，交通条件极为便利。</div>
            <div>中国服装纺织行业在国民经济中占据着重要的地位，从1995年开始就已经成为全球第一大纺织品生产国和输出国，随着加入WTO及改革开放进一步深入，中国已成为全球最引人注目的地区之一，纺织行业是中国入世后的强势产业之一，其经济表现格外突出，聚焦全球经济，中国将成为全球纺织工业的头号大国。在未来几年我国纺织工业总产值增长将保持在6.3%以上，到2005年纺织工业的总产值将达1100亿元。服装成衣的总产值将达到1000亿元左右。而广东作为我国最重要的经济强省，服装纺织企业占全国35%左右，出口额创汇额高居全国榜首，广州、深圳、佛山、东莞、中山这条黄金走廊上正形成一个全国最大的服装生产加工基地、成衣批发基地。</div>
        </div>
    </div>
</div>
