@{
    ViewBag.Title = "新闻动态-广州国际轻纺城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TextileCity.Entity;
@{
    string next = "#";
    string prev = "#";
    List<News> news = new List<News>();
    if (ViewData["Next"] != null)
    {
        next = ViewData["Next"].ToString();
        next = string.Format("/news?page={0}", next);
    }
    if (ViewData["Prev"] != null)
    {
        prev = ViewData["Prev"].ToString();
        prev = string.Format("/news?page={0}", prev);
    }
    if (ViewData["News"] != null)
    {
        news = ViewData["News"] as List<News>;
    }
}
<div class="container">
    <div class="row">
        <div class="span4  news_list" >
            <div id="news_list">
            @{
                foreach (News n in news)
                {
                <a href="/news/details/@n.ID">
                    <div class="well sidebar-nav news_item">
                        @n.Title<span>[@n.AddTime.ToString("yyyy/MM/dd")]</span>
                    </div>
                </a>
                }
            }
            </div>
            @{
                if(news.Count>0)
                {
                      <ul class="pager-a">
                <li class="previous">
                    <a href="@prev">&lt;上一页</a>
                </li>

                <li class="next">
                    <a href="@next">下一页 &gt;</a>
                </li>
            </ul>
                }
            }          
        </div>
           <div class="loading" id="loading">
                <img src="/img/loading-big.gif" />
            </div>
        <div class="span8" id="news_content">
       
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<script src="/js/news.js"></script>