@{
    ViewBag.Title = "cartempty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class=" span8 offset2">
            <div class="empty well well-large">
                <h3 class="font-color-red">您的购物车里还没有商品哦</h3>
                <p>
                    你可以去挑选 <a href="/textile/fabric" class="link-red">面料</a>，或者去看看有什么好的 <a href="/textile/accessory" class="link-red">辅料</a>
                </p>
                <p>
                  有什么问题可以联系我们
                </p>
                <p>电话：13570537950</p>
                <p>QQ：<span>3137622</span><span>1220922279</span></p>
            </div>
        </div>
    </div>
</div>
