@using TextileCity.Entity;
@{
    
}

<ul class="thumbnails goods-list">
     <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>   <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>  <li>
        <div >
            <a href="~/Views/textile/list" class="thumbnail ">
                <img class="img" src="http://pic20.nipic.com/20120401/7656708_133354207138_2.jpg" alt="">
                
            </a>
          <div class="material-title"> <a href="~/Views/textile/list" class="">地撒大声地</a></div> 
        </div>
    </li>
</ul>
 
<div class="pagination pagination-centered pagination-large" id="list_pager">
    <ul>
        <li><a href="#">«</a></li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li><a href="/textile/list/2">2</a></li>
        <li><a href="#">@ViewData["Page"].ToString()</a></li>
        <li><a href="#">@ViewData["Page"].ToString()</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>
<script type="text/javascript" src="/js/list-pager.js"></script>
