@{
    string name = "";
    if(ViewData["UserName"]!=null)
    {
        name = ViewData["UserName"].ToString();
    }
    int itemsCount = (int)ViewBag.ItemsCount;
}
<ul class="nav pull-right ">
    <li><a href="/account/cart" class="btn mar-top0 cart btn-link"><i class="icon-cart-s"></i>购物车
         @{
            if(itemsCount>0)
            {
                <span class="badge badge-important">@itemsCount</span>
            }
        }</a></li>
    <li class="divider-vertical-red"></li>
    <li class="dropdown mar-r10">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user-red "></i>@name<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-star pr5"></i>个人中心</a></li>
            <li><a href="#"><i class="icon-pencil pr5"></i>修改密码</a></li>
            <li><a href="#"><i class="icon-map-marker pr5"></i>收货地址</a></li>
            <li class="divider"></li>
            <li><a href="/account/logout"><i class="icon-share"></i>  退出</a></li>
        </ul>
    </li>
</ul>

